---
import { Font } from "astro:assets";
import GtmNoScript from "~/components/GtmNoScript.astro";
import GtmScript from "~/components/GtmScript.astro";
import "~/styles/globals.css";
---

<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <GtmScript />
    <Font cssVariable="--font-inter" preload={true} />
    <Font cssVariable="--font-space-grotesk" preload={true} />
    <link
      rel="icon"
      href="/assets/images/favicon.png"
      type="image/png"
      sizes="32x32"
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VantaShield</title>
    <meta
      name="description"
      content="VantaShield is a cybersecurity firm providing managed defense, incident readiness, and cloud assurance."
    />
  </head>
  <body class="font-sans text-base">
    <GtmNoScript />
    <slot />
  </body>
</html>
