---
import { Font } from "astro:assets";
import Footer from "~/components/Footer.astro";
import GtmNoScript from "~/components/GtmNoScript.astro";
import GtmScript from "~/components/GtmScript.astro";
import Header from "~/components/Header.astro";
import "~/styles/globals.css";

type Props = {
  title?: string;
};

const { title } = Astro.props;
---

<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <GtmScript />
    <Font cssVariable="--font-inter" preload={true} />
    <Font cssVariable="--font-space-grotesk" preload={true} />
    <link
      rel="icon"
      href="/assets/images/favicon.png"
      type="image/png"
      sizes="32x32"
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title ? `${title} | VantaShield` : "VantaShield"}</title>
    <meta
      name="description"
      content="VantaShield is a cybersecurity firm providing managed defense, incident readiness, and cloud assurance."
    />
  </head>
  <body class="bg-onyx font-sans text-base text-lavender-mist">
    <GtmNoScript />
    {/* This wrapper prevents a body overflow in mobile browsers. */}
    <div class="flex min-h-screen flex-col">
      <Header />
      <main class="grid flex-1 items-center">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
